.pix{
    position: relative;
    overflow: hidden;
}
.pix::after {
    content: '';
    width: 10%;
    height: 245%;
    background-color: white;
    position: absolute;
    right: 0%;
    top: -30%;
    transform: rotate(45deg);
    border: none;
}

@media (max-width: 780px) {
    .pix::after {
        display: none;
    }
}