/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d6dee1;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.2s linear;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.indiana-scroll-container{
  border-radius: 0px;
}

.machine-card > img{
  min-height: 300px;
}

.machine-card > div {
  justify-content: start;
}

.float{position:fixed;width:60px;height:60px;bottom:40px;left:40px;background-color:#25d366;color:#fff;border-radius:50px;text-align:center;font-size:30px;box-shadow:2px 2px 3px #999;z-index:100}
.float-pdf{position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#fb4848;color:#fff;border-radius:50px;text-align:center;font-size:30px;box-shadow:2px 2px 3px #999;z-index:100}
